*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.first{
    height: 50%;
    width: 100%;
    background-color: blue;
}
.second_block{
    height:50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.second{
    height: 50%;
    width: 50%;
    background-color: brown;
}
.third{
    height: 50%;
    width: 50%;
    background-color: yellowgreen;
}
.fourth{
    height: 50%;
    width: 50%;
    background-color: peru;
}
.five{
    height: 50%;
    width: 50%;
    background-color: palegoldenrod;
}


@media screen and (min-width: 760px) {
    .first, .second_block {
        height: 100%;
        width: 50%;
    }

}
